.draggable[b-fpxj9nmtr4] {
    margin-bottom: 10px;
    padding: 10px 25px;
    border: 1px solid #424d5c;
    cursor: grab;
    background: #ff6a00;
    color: #ffffff;
    border-radius: 5px;
    width: 16rem;
}

.draggable:active[b-fpxj9nmtr4] {
    cursor: grabbing;
}

.dropzone[b-fpxj9nmtr4] {
    padding: .75rem;
    border: 2px solid black;
    min-height: 20rem;
}

.priority[b-fpxj9nmtr4] {
    min-width: 20rem;
    padding-right: 2rem;
}
